.container {
    min-height: 100vh;
}

.containerDark {
    background-color: #111827;
    color: #fff;
}

.containerLight {
    background-color: #fff;
    color: #111827;
}

.content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 16px;
}

.grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1,1fr); 
}

@media (min-width: 580px) {
    .grid {
        grid-template-columns: repeat(2,1fr); 
    }
}


@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3,1fr); 
    }
}

@media (min-width: 1600px) {
    .grid {
        grid-template-columns: repeat(4,1fr); 
    }
}
